:root {
    --organograma-padding: 40px;
    --organograma-card-width: 120px;
    --organograma-card-height: 60px;
    --organograma-lines-thickness: 1px;
    --organograma-lines-radius: 5px;
}

.organograma {
    text-align: center;
}

div.organograma > ul {
    padding: 0;
}

div.organograma > ul::before {
    content: none;
}

div.organograma > ul > li {
    padding: 0;
}

div.organograma > ul > li::before {
    content: none !important;
}

div.organograma > ul > li::after {
    content: none !important;
}

.organograma ul {
    position: relative;
    list-style-type: none;
    padding: var(--organograma-padding) 0 0 0;
    margin: 0;
}

.organograma ul::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    height: var(--organograma-padding);
    border-left: var(--organograma-lines-thickness) black solid;
    border-top-left-radius: var(--organograma-lines-radius);
}

.organograma li {
    position: relative;
    float: left;
    text-align: center;
    padding-top: var(--organograma-padding);
}

.organograma li:not(.last)::before {
    content: "";
    position: absolute;
    top: 0;
    right: 50%;
    height: var(--organograma-padding);
    width: 50%;
}

.organograma li:first-child:nth-last-child(1):after {
    border-top: 0;
    border-radius: 0;
}

.organograma li:not(:first-child)::before {
    border-top: var(--organograma-lines-thickness) black solid;
}

.organograma li:not(.last)::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    height: var(--organograma-padding);
    width: 50%;
    border-top: var(--organograma-lines-thickness) black solid;
    border-left: var(--organograma-lines-thickness) black solid;
    border-top-left-radius: var(--organograma-lines-radius);
}

.organograma li.last::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: var(--organograma-padding);
    width: 50%;
    border-top: var(--organograma-lines-thickness) black solid;
    border-right: var(--organograma-lines-thickness) black solid;
    border-top-right-radius: var(--organograma-lines-radius);
}

.organograma .card {
    width: var(--organograma-card-width);
    min-height: var(--organograma-card-height);
    display: inline-block;
    border: 1px black solid;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}